/*
header ul li {
display: inline;
margin-right: 10px;
padding: 5px;
background: wheat;
border-color: beige;
border: solid 1px;
}
header ul li a {
text-decoration: none;
color: red;
}

*/
/* navigation */
#header {
	margin-bottom : 10px;
}
#footer {
	background : #ccc;
	padding : 1px;
	text-align : center;
}
#nav {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	background: #ccc;
	border-bottom: 1px solid #999;
}

#nav li { 
	float: left;
	margin: 0;
	padding: 0;
}
	
#nav a {
	float: left;
	display: block;
	padding: 6px 30px 6px 5px;
	text-decoration: none;
	font-weight: bold;
	font-size: 90%;
	color: #666;
	background: #ccc url(http://www.cssportal.com/horizontal-menus/images/nav_slant.gif) no-repeat top right;
}
	
#nav #nav-1 a {
	padding-left: 20px;
}
	
#nav a:hover {
	color: #000;
}

/* more */
	
ul#more {
	clear: left;
	margin-top: 60px;
}
